<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>delivery</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>delivery</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/home</url-pattern>

        <!--client urls-->
        <url-pattern>/newClient</url-pattern>
        <url-pattern>/addClient</url-pattern>

        <!--user urls-->
        <url-pattern>/newUser</url-pattern>
        <url-pattern>/addUser</url-pattern>
        <url-pattern>/deleteUser</url-pattern>
        <url-pattern>/updateUser</url-pattern>
        <url-pattern>/saveUser</url-pattern>

        <!--login urls-->
        <url-pattern>/loginFromWeb</url-pattern>
        <url-pattern>/loginFromMobile</url-pattern>
        <url-pattern>/logout</url-pattern>

        <!-- delivery urls-->
        <url-pattern>/newDelivery</url-pattern>
        <url-pattern>/deliveries</url-pattern>
        <url-pattern>/closeDelivery</url-pattern>
    </servlet-mapping>
</web-app>